<div class="body">
<div class="top-head">
    <h1>Covid Report</h1>
    <!-- {{covid | json }} -->
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-2 dropdown">
            <h2>State</h2>
        </div>
        <div class="col-lg-10 dropdown">
            <button class="btn btn-primary" mat-button [matMenuTriggerFor]="menu"  style="width: 100%">Select State</button>
            <mat-menu #menu="matMenu">
                <button  *ngFor="let data of covid | keyvalue:mySortingFunction" (click)="selectData(data)" mat-menu-item>{{data.key}}</button>
            </mat-menu>
            <!-- <select name="covid_state">
                <option value={{data.key}} *ngFor="let data of covid | keyvalue:mySortingFunction" >
                    <b>{{data.key}}</b> 
                </option>
            </select> -->
        </div>
        <div *ngFor="let data of state | keyvalue:mySortingFunction"  class="col-12 col-md-6 col-lg-3">
            <div  class="state_card card">
                <h3>{{data.key}}</h3>
                <div>
                    <table>
                        <tr>
                            <td>Active</td>
                            <td style="text-align: right;">{{dataShowActive(data.value)}}</td>
                        </tr>
                        <tr>
                            <td>Confirmed</td>
                            <td style="text-align: right;">{{dataShowConfirmed(data.value)}}</td>
                        </tr>
                        <tr>
                            <td>Deceased</td>
                            <td style="text-align: right;">{{dataShowDeceased(data.value)}}</td>
                        </tr>
                        <tr>
                            <td>Migratedother</td>
                            <td style="text-align: right;">{{dataShowMigratedother(data.value)}}</td>
                        </tr>
                        <tr>
                            <td>Note</td>
                            <td style="text-align: right;">{{dataShowNote(data.value)}}</td>
                        </tr>
                        <tr>
                            <td>Recovered</td>
                            <td style="text-align: right;">{{dataShowRecovered(data.value)}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="footer">
    <h5>Design and Developed By: <span style="color:rgb(112, 195, 243)">Click2Cloud</span></h5>
    <!-- {{covid | json }} -->
</div>
</div>